<!-- <div class="note" >
 -->  <div id="<%= note.persisted? ? dom_id(note) : "note-new" %>">
    <p><strong>Note Author:</strong> <%= note.user.email || "none" %></p>

    <p><strong>Note:</strong><%= note.body %></p>
    <p class="button tiny radius round success"><%= link_to 'Destroy note', [note.problem, note],
                                                            method: :delete,
                                                            data: { confirm: 'Are you sure?' } %></p>
  </div>
<!-- </div>
 -->